<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :kind %>
    <%= form.text_field :kind %>
  </div>

  <div class="field">
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.text_field :birth_date %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :reg_date %>
    <%= form.text_field :reg_date %>
  </div>

  <div class="field">
    <%= form.label :reg_id %>
    <%= form.text_field :reg_id %>
  </div>

  <div class="field">
    <%= form.label :modi_date %>
    <%= form.text_field :modi_date %>
  </div>

  <div class="field">
    <%= form.label :modi_id %>
    <%= form.text_field :modi_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
