<p id="notice"><%= notice %></p>
<p>
  <strong>Photo_file:</strong>
  <%= @pet.photo_file %>
</p>

<p>
  <strong>User:</strong>
  <%= @pet.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @pet.kind %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @pet.gender %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @pet.birth_date %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @pet.weight %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
