<div class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <!--/여기수정함-->
                        <!--Q.강아지 사진 넣으면 강아지 이미지로 수정하고 싶음 ㅋㅋㅋㅋㅋ알겠어용-->
                    </div>
                    <div class="card-body">
                        <form name="my-form" action="/pets" onsubmit="return validform()" method="post" enctype="multipart/form-data">
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %><!--form for(view_helper) 안쓸경우 데이터 암호화-->
                            <input type="hidden" name="user_id" value="<%= current_user.id %>">
                    
                            <div class="preview text-center">
                                <% if @pet.photo_file.attached? %>
                                    <%= image_tag url_for(@pet.photo_file), class:"img-fluid px-3 px-sm-4 mt-3 mb-4", style:"" %>
                                <% else %>
                                    <%= image_tag "no_image_m.png", class:"img-fluid px-3 px-sm-4 mt-3 mb-4", style:"" %>
                                    첨부된 사진이 없습니다.
                                <% end %>
                                
                            </div>
                            <span class="Error"></span> <br>
                        
                            <div class="form-group row">
                                <label for="full_name" class="col-md-4 col-form-label text-md-right">이름</label>
                                <div class="col-md-6 form-control">
                                    <%= @pet.name %>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">생년월일</label>
                                <div class="col-md-6 form-control">
                                    <%= @pet.birth_date %>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="age" class="col-md-4 col-form-label text-md-right">나이</label>
                                <div class="col-md-6 form-control">
                                    <%= @pet.age %>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="user_name" class="col-md-4 col-form-label text-md-right">성별</label>
                                <div class="col-md-6 form-control">
                                    <%= @pet.gender %>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="code_name1" class="col-md-4 col-form-label text-md-right">종류</label>
                                <div class="col-md-6 form-control">
                                  <%= @kind %>
                                </div>
                            </div>


                            
                            <div class="form-group row">
                                <label for="code_name" class="col-md-4 col-form-label text-md-right">품종</label>
                                <div class="col-md-6 form-control">
                                     <%= @code_name %>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="weight" class="col-md-4 col-form-label text-md-right">몸무게</label>
                                <div class="col-md-6 form-control">
                                     <%= @pet.weight %>
                                </div>
                            </div>

                            <div class="form-group row m-0">
                              <div style="margin: 0 auto">
                                <!--Q. 등록하기 버튼을 누르면 다시 화면으로 오고 싶은데요?-->
                                <!--Q. 수정하기 버튼도 만들고 싶은데용? edit.html.erb 화면에 있어요-->
                                <%= link_to '수정하기', edit_pet_path(@pet), class: "form-control btn btn-primary text-white", style: "width: 120px; margin: 0 0;" %>
                                <%= link_to '목록으로', pets_path, class: "form-control btn btn-primary text-white", style: "width: 120px; margin: 0 0;" %>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





