  <!-- Custom styles for this template-->
  <link href="/css/petcare.css" rel="stylesheet">
  <h1 class="h4 mb-1 text-gray-800"></h1>
  <p class="mb-4" id="test"></p>

    <!-- Content Row -->
    <div class="row">
            <div class="col-lg-12">
              <div class="card position-relative">
                <div class="card-body">
                    <h6 class="col-12 m-12 font-weight-bold text-primary">반려동물 선택</h6> 
                    <div id="pet_code_group"  class="btn-group btn-group-toggle col-lg-12" data-toggle="buttons">
                        <% @pet.each do |pet| %>
                           <label class="btn btn-primary">
                               <input type="radio"  name="pet_id" id="pet_id_<%=pet.id%>" autocomplete="on" value="<%=pet.id%>" onClick="fn_set_pet(<%=pet.kind%>, <%=pet.breed%>)"> <%=pet.name%>
                           </label>
                        <% end %>
                         <input type="hidden" name="kind"   id="kind"   value=""> 
                         <input type="hidden" name="breed"  id="breed"  value="">
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="col-12 m-12 font-weight-bold text-primary">진료항목</h6> 
                    <div id="medc_code_group"  class="btn-group btn-group-toggle col-lg-12" data-toggle="buttons">
                          <label class="btn btn-primary">
                               <input type="radio" name="medc_code" id="medc_code_all" autocomplete="on" value="">전체
                          </label>
                        <% @medc_code.each do |medic| %>
                           <label class="btn btn-primary">
                               <input type="radio" name="medc_code" id="medc_code_<%=medic.code%>" autocomplete="on" value="<%=medic.code%>"> <%=medic.code_name%>
                           </label>
                        <% end %>
                    </div>
                 </div>
                 <div class="card-body">
                    <h6 class="col-12 m-12 font-weight-bold text-primary">세부항목</h6> 
                    <div id="medc_detail_group" class="btn-group btn-group-toggle col-lg-12" data-toggle="buttons">
                       <label class="btn btn-info">
                               <input type="radio" name="medc_detail" id="medc_detail_all" autocomplete="on" value="">전체
                       </label>
                    </div>
                 </div>
                <div class="card-body">
                    <h6 class="col-12 m-12 font-weight-bold text-primary">키워드검색</h6> 
                     <form class="form-inline mr-auto w-100 navbar-search">
                      <div class="input-group col-12 m-12">
                        <input type="text" class="form-control bg-light border-1 small" placeholder= "질병명 검색" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button" id="search_btn">
                            <i class="fas fa-search fa-sm"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                 </div>
              </div>
            </div>
             <div id="search_div" class="col-lg-12">
              <div class="card position-relative">
                <div class="card-body">
                    <h6 class="col-12 m-12 font-weight-bold text-primary">지도</h6> 
                    <div id="map_div"  class="btn-group btn-group-toggle col-lg-12" data-toggle="buttons">
                        <div class="card-body">
                          <div id="map" style="width:100%;height:350px;"></div>
                       </div>
                    </div>
                 </div>
                 <div class="card-body">
                    <div id="list_div"  class="btn-group btn-group-toggle col-lg-12" data-toggle="buttons" style='display:hidden'>
                        <div class="card-body">
                             <table class="table table-bordered" id="hospital_list" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th><a href="/hospitals/view/1">병원이름</a></th>
                                  <th>진료시간</th>
                                  <th>전화번호</th>
                                  <th>주소</th>
                                </tr>
                              </thead>
                              <tbody> </tbody>
                              </table>
                       </div>
                    </div>
                 </div>
              </div>
            </div>
	</div><!--row-->
	<!-- Content Row -->
    <div class="row">

            <div class="col-lg-12"> 
              <!-- Progress Small -->
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">병원비 정보</h6>
                </div>
                <div style="width:98%; text-align:right; padding:10px 0px 0px 0px;">최대:100만원</div>
                <div class="card-body" id="bar_list">
                </div>
              </div>

            </div>
       </div>
   <!-- <button onclick="showData()">현재 위치 확인</button>
    <div id="console" style="width:500px; border:5px; font-size:20px">
    </div> -->
          
          
<script type="text/javascript">
var lat;//위도
var lon;//경도
var markersarr = []; // 지도에 표시된 마커 객체를 가지고 있을 배열입니다
var locaarr = [];    // 변환된 좌표 배열
var overlay;
$(document).ready(function() {
 
    $('#list_div').hide();
    $('#search_div').hide();
    
    
    //위치정보 가져오기
    if(navigator.geolocation == undefined){
        alert("위치 정보 기능을 지원하지 않습니다!")
        return;
    }else{
        showData(); 
    }
    
    // 병원항목 코드에 따른 세부진료항목 코드 조회 ajax    //radio 예시     
    $('input[name="medc_code"]').change(function() {
     
      //전체 선택시 
      if($(this).val() == ""){ 
         // 세부진료항목 초기화
          var radio_html  = "";
              radio_html  += "<label class='btn btn-info'>"
                          + "<input type='radio' name='medc_detail' id='medc_detail_all' autocomplete='on' value=''>전체"
                          + "</label>";
           $("#medc_detail_group").html(radio_html);
      }else{
        
           var select_id = $(this).val();
       
            $.ajax({
                type: "GET",     
                url: '/get_code',           // 공통코드 request url --> application_cotroller에 정의
                data: {                     // 보낼 파라미터
                    code_gubn : select_id,  // 코드구분 
                    redirect_path : "diseases_list_path"
                },
                dataType: "json", 
                success: function(data) { //데이터 받아옴 
                
                var radio_html  = "";
                    radio_html  += "<label class='btn btn-info'>"
                                + "<input type='radio' name='medc_detail' id='medc_detail_all' autocomplete='on' value='all'>전체"
                                + "</label>";
                  $.each(data, function(i){
                    radio_html  +="<label class='btn btn-info'>"
                                + "<input type='radio' name='medc_detail' id='medc_detail_"+data[i].code+"' autocomplete='on' value='"+data[i].code+"'>"+data[i].code_name
                                + "</label>";
                  });    
                  
                  $("#medc_detail_group").html(radio_html);
    
                },
                error: function(data) {}
            });
      }
      
    });
    
      
    $('input[name="pet_id"]').change(function() {
      
      //값세팅
    });
      
    $('input[name="kind"]').change(function() {
     
      //값세팅
    });
    
  //조회버튼
  $("#search_btn").click(function(){
      
      fn_getReviewSearch(); //질병리뷰가져오기 
      
      
      //
      var medic_code     = $('input[name="medc_code"]:checked').val();
      var medic_detail   = $('input[name="medc_detail"]:checked').val();
                    
      var kind  = $('input[name="kind"]:checked').val();
      var breed = $('input[name="breed"]:checked').val();
      
          $.ajax({
                type: "GET",     
                url: 'get_search_cost',      
                data: {                     // 보낼 파라미터
                    medic_code: medic_code,  // x좌표(TM중부원점) 
                    medic_detail: medic_detail,  // x좌표(TM중부원점) 
                    search_txt: "",  
                    redirect_path : "diseases_list_path"
                },
                dataType: "json", 
                success: function(data) { //데이터 받아옴 
                    $('#bar_list').find('tbody').empty();
                    alert(data[0].avg);
                    var myRow ="";
                    var maxval= 1000000;
                    $.each(data, function(i){
                        if(data[i].tot_cnt == 0){
                            myRow ="병원비 데이터가 없습니다.";
                            $('#bar_list').html(myRow);
                        }else{
                       // var myRow = "<tr><td><a href='/hospitals/view/"+data[i].id+"'>" + data[i].name + "</a></td><td>" + data[i].tel_no + "</td><td>" + data[i].open_time + "~"+  data[i].close_time
                       //           +"</td><td>" + data[i].addr + "</td></tr>";
                       // $('#hospital_list').find('tbody').append(myRow);
                                     myRow += "<div>평균병원비 전체: "+"총"+ data[i].tot_cnt+"건</div>"
                                            + "<div class='progress mb-4'>" 
                                            + "<div class='progress-bar progress-bar-striped bg-danger' role='progressbar' style='width: "+data[i].avg/maxval * 100 +"%' aria-valuenow='"+data[i].avg/maxval * 100 +"' aria-valuemin='0' aria-valuemax=maxval>"+data[i].avg+"원</div>"
                                            + "</div>";
                                  if(data[i].c01_cnt != 0){
                                     myRow += "<div>수술비: "+"총"+data[i].c01_cnt+"건 (최소: "+data[i].min_c01 + "원, 최대: "+data[i].max_c01+"원)</div>"
                                            + "<div class='progress mb-4'>" 
                                            + "<div class='progress-bar progress-bar-striped bg-success' role='progressbar' style='width: "+data[i].c01/data[i].c01_cnt/maxval * 100 +"%' aria-valuenow='"+data[i].c01/data[i].c01_cnt/maxval * 100 +"' aria-valuemin='0' aria-valuemax=maxval>"+Math.floor(data[i].c01/data[i].c01_cnt)+"원</div>"
                                            + "</div>";
                                  }
                                  if(data[i].c03_cnt != 0){
                                     myRow += "<div>진찰비: "+"총"+ data[i].c03_cnt+"건 (최소: "+data[i].min_c03 + "원, 최대: "+data[i].max_c03+"원)</div>"
                                            + "<div class='progress mb-4'>" 
                                            + "<div class='progress-bar progress-bar-striped bg-info' role='progressbar' style='width: "+data[i].c03/data[i].c03_cnt/maxval * 100 +"%' aria-valuenow='"+data[i].c03/data[i].c03_cnt/maxval * 100 +"' aria-valuemin='0' aria-valuemax=maxval>"+Math.floor(data[i].c03/data[i].c03_cnt)+"원</div>"
                                            + "</div>";
                                  }if(data[i].c04_cnt != 0){
                                     myRow += "<div>약비: "+"총"+ data[i].c04_cnt+"건 (최소: "+data[i].min_c04 + "원, 최대: "+data[i].max_c04+"원)</div>"
                                            + "<div class='progress mb-4'>" 
                                            + "<div class='progress-bar progress-bar-striped bg-warning' role='progressbar' style='width: "+data[i].c04/data[i].c04_cnt/maxval * 100 +"%' aria-valuenow='"+data[i].c04/data[i].c04_cnt/maxval * 100 +"' aria-valuemin='0' aria-valuemax=maxval>"+Math.floor(data[i].c04/data[i].c04_cnt)+"원</div>"
                                            + "</div>";
                                  }if(data[i].c05_cnt != 0){
                                     myRow += "<div>주사비: "+"총"+ data[i].c05_cnt+"건 (최소: "+data[i].min_c05 + "원, 최대: "+data[i].max_c05+"원)</div>"
                                            + "<div class='progress mb-4'>" 
                                            + "<div class='progress-bar progress-bar-striped' role='progressbar' style='background-color:pink; width: "+data[i].c05/data[i].c05_cnt/maxval * 100 +"%' aria-valuenow='"+data[i].c05/data[i].c05_cnt/maxval * 100 +"' aria-valuemin='0' aria-valuemax=maxval>"+Math.floor(data[i].c05/data[i].c05_cnt)+"원</div>"
                                            + "</div>";
                                  }if(data[i].c05_cnt != 0){
                                     myRow += "<div>검사비: "+"총"+ data[i].c06_cnt+"건 (최소: "+data[i].min_c06 + "원, 최대: "+data[i].max_c06+"원)</div>"
                                            + "<div class='progress mb-4'>" 
                                            + "<div class='progress-bar progress-bar-striped bg-info' role='progressbar' style='width: "+data[i].c06/data[i].c06_cnt/maxval * 100 +"%' aria-valuenow='"+data[i].c06/data[i].c06_cnt/maxval * 100 +"' aria-valuemin='0' aria-valuemax=maxval>"+Math.floor(data[i].c06/data[i].c06_cnt)+"원</div>"
                                            + "</div>";
                                  }if(data[i].c99_cnt != 0){
                                     myRow += "<div>기타: "+"총"+ data[i].c99_cnt+"건 (최소: "+data[i].min_c99 + "원, 최대: "+data[i].max_c99+"원)</div>"
                                            + "<div class='progress mb-4'>" 
                                            + "<div class='progress-bar progress-bar-striped bg-secondary' role='progressbar' style='width: "+data[i].c99/data[i].c99_cnt/maxval * 100 +"%' aria-valuenow='"+data[i].c99/data[i].c99_cnt/maxval * 100 +"' aria-valuemin='0' aria-valuemax=maxval>"+Math.floor(data[i].c99/data[i].c99_cnt)+"원</div>"
                                            + "</div>";
                                  }
                                    
                         $('#bar_list').html(myRow);
                        // 좌표변환 후 지도에 그려주기 
                        // fn_setHospitalLoction(data[i].loca_x, data[i].loca_y, data[i].name, data[i].addr, data[i].tel_no, data[i].id);
                           
                        }
                    });
                    
                    if(data.length > 0){
                       $('#list_div').show();
                        
                    }
                
                    //좌표범위 재설정 및 커스텀 오버레이 설정
                   // fn_reload_map_view();
    
                },
                error: function(data) {}
            });
            

    }); 
     
});


 //현재 위치 정보 알아보는 메소드
 function showData(){

    //navigator.geolocation.getCurrentPosition(success, fail); //현재 위치 정보를 조사하고 성공 실패 했을시 호출되는 함수 설정
    
 }
 
 function fn_set_pet(kind, breed){
    // alert(kind);
 }
 


function fn_getReviewSearch(){
    $.ajax({
                type: "GET",     
                url: 'get_medic_reviews',      
                data: {                     // 보낼 파라미터
                //    tm_x: x,  // x좌표(TM중부원점) 
                //    tm_y: y,  // x좌표(TM중부원점) 
                    search_txt: "",  
                    redirect_path : "diseases_list_path",
                    medc_code     : $('input[name="medc_code"]:checked').val(),
                    medc_detail   : $('input[name="medc_detail"]:checked').val()
                },
                dataType: "json", 
                async: false, //동기처리함
                success: function(data) { //데이터 받아옴 
                    $('#review_list').find('tbody').empty();
                    $.each(data, function(i){
                        var myRow = "<tr><td><a href='/reviews/view/"+data[i].id+"'>" + data[i].title + "</a></td><td>" +data[i].hospital_review
                                  +"</td><td>" + data[i].satis1 + data[i].satis2 + data[i].satis3 + data[i].satis4 +"</td></tr>";
                        $('#review_list').find('tbody').append(myRow);
                        
                        
                    });
                    
                    if(data.length > 0){
                       $('#search_div').show(); 
                    }
                
    
                },
                error: function(data) {}
            });
    
}

</script>   