
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
       <!--   <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Cards</h1>
          </div>-->
        
          <div class="row">
            
             <div class="col-lg-6 mb-4">
                <!-- Illustrations -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><div id="name"><%=@hospital.name%></div></h6>
                  </div>
                  <div class="card-body">
                    <div class="text-left">
               
                  <%= image_tag @img_url, class:"img-fluid px-3 px-sm-4 mt-3 mb-4", style:"width: 25rem;" %>   
                 
                  </div>
                  <div class="text-center">
                    <div id="open_time">
                      오픈시간:<%=@hospital.open_time%></br>
                    </div>
                     <div id="open_time">
                      마감시간:<%=@hospital.close_time%></br>
                    </div>
                   
                  
                 <!-- 점심시간: 12:00~13:00</br>
                  휴무일 : 없음</br>
                  주차가능, 애견호텔, 애견미용</br>
                  #스켈링 잘하는</br>-->

                  </div>
                </div>
  
               </div>
             </div> 
             
            <div class="col-lg-6 mb-4"> 
            <div class="row">
             
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-lg-4 col-md-6 mb-2">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">  <a href='tel:<%= @hospital.tel_no %>'>전화걸기</div>
                  
                     
                 <!--     <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>-->
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-phone fa-2x text-gray-900"></i>
                    </div>  
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-lg-4 col-md-6 mb-2">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <!--병원후기작성으로 가기 혜림추가(병원코드 셋팅)-->
                       <%= link_to '후기작성', new_review_path(hospital_id:@hospital.id),  class:"font-weight-bold text-success text-uppercase mb-1" %>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-900"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-lg-4 col-md-6 mb-2">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                
                      <a href="/hospitals/view/<%=@hospital.id%>/like">즐겨찾기</a>
                      
                      </div>
                      <div class="row no-gutters align-items-center">
                    
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-star fa-2x text-gray-<%= @like %>" ></i>
                      

                       
                    </div>
                  </div>
                </div>
              </div>
            </div>
             </div>
             
           <hr>    
           <div class="row">
        
            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
              <div class="input-group">
                <input type="text" class="form-control bg-light border-1 small" placeholder="후기 내 상세검색..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>
          
             <div> 등록순 </div>
             <div>  | </div>
             <div> 추천순 </div>
          
            </div>  
          <hr>    
          
          
        <% @reviews.each do |review| %>
    
          
          <div class="row">
          

            <div class="col-lg-12">
              <!-- Default Card Example -->
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">
                    
                 
                   <%= review.title %></br>
                    ID:<%= review.user_id %>
                    , 품종: <%=  CommCode.find_by(code_gubn: Pet.find(review.pet_id).kind).parent_gubn %>
                    , 몸무게: <%=  Pet.find(review.pet_id).weight %>KG  
                    
                  <a href="#" class="btn btn-success btn-circle small ">
                    <i class="fas fa-check"></i>
                  </a>
                  </h6>
                </div>
                
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card-body">
            

                      받은치료: <%= @commcodes.find_by(code_gubn: "MEDIC", code: review.medic_code).code_name%> <br>
                      전체비용: <%= review.tot_cost%> 원</br>
                      </br>
                       <%= review.hospital_review %></br>
                       <%= review.heal_review %></br>
                      </div>
                   </div>
                    
                    
                <div class="col-lg-6">
                  <div class="card-body">
                  <h4 class="small font-weight-bold">친절도 <span class="float-right"><%= review.satis1 %> / 5</span></h4>
                  <div class=" mb-4">
                    <!--<div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    -->
                       <div class="starRev" >
                        <input type="radio" name="satis1" value="1"><span class="starR <%if !review.satis1.nil? && review.satis1 >= 1 %> on <%end%>">1</span>
                        <input type="radio" name="satis1" value="2"><span class="starR <%if !review.satis1.nil? && review.satis1 >= 2 %> on <%end%>">2</span>
                        <input type="radio" name="satis1" value="3"><span class="starR <%if !review.satis1.nil? && review.satis1 >= 3 %> on <%end%>">3</span>
                        <input type="radio" name="satis1" value="4"><span class="starR <%if !review.satis1.nil? && review.satis1 >= 4 %> on <%end%>">4</span>
                        <input type="radio" name="satis1" value="5"><span class="starR <%if !review.satis1.nil? && review.satis1 >= 5 %> on <%end%>">5</span>
                       </div>
                    </div>
                  <h4 class="small font-weight-bold">진료만족도 <span class="float-right"><%= review.satis2 %> / 5</span></h4>
                  <div class="mb-4">
                    <!--<div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>-->
                       <div class="starRev" >
                        <input type="radio" name="satis2" value="1"><span class="starR <%if !review.satis2.nil? && review.satis2 >= 1 %> on <%end%>">1</span>
                        <input type="radio" name="satis2" value="2"><span class="starR <%if !review.satis2.nil? && review.satis2 >= 2 %> on <%end%>">2</span>
                        <input type="radio" name="satis2" value="3"><span class="starR <%if !review.satis2.nil? && review.satis2 >= 3 %> on <%end%>">3</span>
                        <input type="radio" name="satis2" value="4"><span class="starR <%if !review.satis2.nil? && review.satis2 >= 4 %> on <%end%>">4</span>
                        <input type="radio" name="satis2" value="5"><span class="starR <%if !review.satis2.nil? && review.satis2 >= 5 %> on <%end%>">5</span>
                       </div>
                  </div>
                  <h4 class="small font-weight-bold">가격 <span class="float-right"><%= review.satis3 %> / 5</span></h4>
                  <div class="mb-4">
                    <!--<div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>-->
                      <div class="starRev" >
                        <input type="radio" name="satis3" value="1"><span class="starR <%if !review.satis3.nil? && review.satis3 >= 1 %> on <%end%>">1</span>
                        <input type="radio" name="satis3" value="2"><span class="starR <%if !review.satis3.nil? && review.satis3 >= 2 %> on <%end%>">2</span>
                        <input type="radio" name="satis3" value="3"><span class="starR <%if !review.satis3.nil? && review.satis3 >= 3 %> on <%end%>">3</span>
                        <input type="radio" name="satis3" value="4"><span class="starR <%if !review.satis3.nil? && review.satis3 >= 4 %> on <%end%>">4</span>
                        <input type="radio" name="satis3" value="5"><span class="starR <%if !review.satis3.nil? && review.satis3 >= 5 %> on <%end%>">5</span>
                      </div>
                  </div>
                  <h4 class="small font-weight-bold">시설<span class="float-right"><%= review.satis4 %> / 5</span></h4>
                  <div class="mb-4">
                    <!--<div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>-->
                      <div class="starRev" >
                        <input type="radio" name="satis4" value="1"><span class="starR <%if !review.satis4.nil? && review.satis4 >= 1 %> on <%end%>">1</span>
                        <input type="radio" name="satis4" value="2"><span class="starR <%if !review.satis4.nil? && review.satis4 >= 2 %> on <%end%>">2</span>
                        <input type="radio" name="satis4" value="3"><span class="starR <%if !review.satis4.nil? && review.satis4 >= 3 %> on <%end%>">3</span>
                        <input type="radio" name="satis4" value="4"><span class="starR <%if !review.satis4.nil? && review.satis4 >= 4 %> on <%end%>">4</span>
                        <input type="radio" name="satis4" value="5"><span class="starR <%if !review.satis4.nil? && review.satis4 >= 5 %> on <%end%>">5</span>
                      </div>
                  </div>

                      </div>
                    </div>
                </div>
                 
                </div>
              </div>
            </div>
               
        <% end %>


          </div>   
                       
        </div>             
         </div>
         
         </div>
            <!-- Pending Requests Card Example -->
      <!--      <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->

      

        </div>
        <!-- /.container-fluid -->


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


</body>

<script type="text/javascript">
    
</script>  

<%# @test %>
