<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
       <!--   <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Cards</h1>
          </div>-->
        
          <div class="row">
            
             <div class="col-lg-6 mb-4">
                <!-- Illustrations -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><div id="name"><%=@hospital.name%></div></h6>
                  </div>
                  <div class="card-body">
                    <div class="text-center">
                      <%= image_tag "dogs01.jpg", class:"img-fluid px-3 px-sm-4 mt-3 mb-4", style:"width: 25rem;" %>
                  </div>
                  <div class="text-center">
                    <div id="open_time">
                      오픈시간:<%=@hospital.open_time%></br>
                    </div>
                     <div id="open_time">
                      마감시간:<%=@hospital.close_time%></br>
                    </div>
                   
                  
                 <!-- 점심시간: 12:00~13:00</br>
                  휴무일 : 없음</br>
                  주차가능, 애견호텔, 애견미용</br>
                  #스켈링 잘하는</br>-->

                  </div>
                </div>
  
               </div>
             </div> 
             
            <div class="col-lg-6 mb-4"> 
            <div class="row">
             
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-lg-4 col-md-6 mb-2">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">전화걸기</div>
                 <!--     <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>-->
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-phone fa-2x text-gray-300"></i>
                    </div>  
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-lg-4 col-md-6 mb-2">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <!--병원후기작성으로 가기 혜림추가(병원코드 셋팅)-->
                       <%= link_to '후기작성', new_review_path(hospital_id:@hospital.id),  class:"font-weight-bold text-success text-uppercase mb-1" %>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-lg-4 col-md-6 mb-2">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
               
                      <a href="/hospitals/view/1/like">즐겨찾기</a>
                      </div>
                      <div class="row no-gutters align-items-center">
                    
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-star fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
             </div>
             
           <hr>    
           <div class="row">
        
            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
              <div class="input-group">
                <input type="text" class="form-control bg-light border-1 small" placeholder="후기 내 상세검색..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>
          
             <div> 등록순 </div>
             <div>  | </div>
             <div> 추천순 </div>
          
            </div>  
          <hr>    
          
          
        <% @reviews.each do |review| %>
        <tr>
            <td><%= review.title %></td>
        </tr>
        <% end %>
          
          <div class="row">
          

            <div class="col-lg-12">
              <!-- Default Card Example -->
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">ID:Abc**** (강아지, 6kg)
                  <a href="#" class="btn btn-primary btn-circle small">
                    <i class="fas fa-thumbs-up"></i>
                  </a>
                  <a href="#" class="btn btn-success btn-circle small">
                    <i class="fas fa-check"></i>
                  </a>
                  </h6>
                </div>
                
                <div class="row">
                  <div class="col-lg-8">
                    <div class="card-body">
                     
                      받은치료 : 스켈링  (2019.06)</br>
                      전체 비용: 약 6만원 / 치과 / 스켈링</br>
                      
                      깔끔하고 친철합니다~~</br>
                      의사 분이 경험이 많습니다.</br>
                      </div>
                   </div>
                    
                    
                     <div class="col-lg-4">
                       <div class="card-body">
                        <div>평균 ★ <br></div>
                        <div>친절도 ★ <br></div>
                        <div>가격 ★ <br></div>
                        <div>시설 ★ <br></div>
                        <div>진료만족도 ★ <br></div>

                      </div>
                    </div>
                </div>
                 
                </div>
              </div>
            </div>
            
            
            <div class="row">

            <div class="col-lg-12">
              <!-- Default Card Example -->
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">ID:Abc**** (강아지, 6kg)
                  <a href="#" class="btn btn-primary btn-circle">
                    <i class="fas fa-thumbs-up"></i>
                  </a>
                  <a href="#" class="btn btn-success btn-circle">
                    <i class="fas fa-check"></i>
                  </a>
                  </h6>
                  
                </div>
                
                <div class="row">
                  <div class="col-lg-8">
                    <div class="card-body">
                     
                      받은치료 : 스켈링  (2019.06)</br>
                      전체 비용: 약 6만원 / 치과 / 스켈링</br>
                      
                      깔끔하고 친철합니다~~</br>
                      의사 분이 경험이 많습니다.</br>
                      </div>
                   </div>
                    
                    
                     <div class="col-lg-4">
                       <div class="card-body">
                        <div>평균 ★ <br></div>
                        <div>친절도 ★ <br></div>
                        <div>가격 ★ <br></div>
                        <div>시설 ★ <br></div>
                        <div>진료만족도 ★ <br></div>

                      </div>
                    </div>
                </div>
                 
                </div>
              </div>
            </div> 
            


          </div>   
                       
        </div>             
         </div>
         
         </div>
            <!-- Pending Requests Card Example -->
      <!--      <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->

      

        </div>
        <!-- /.container-fluid -->


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


</body>


