   <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">후기 조회</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">추천수</a>
          </div>

          <!-- Content Row -->
          

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-lg-6 mb-4">
              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">사진</h6>
                </div>
                <div class="card-body">
                  <div class="text-center py-10">
                       <% if @review.photo_file.attached? %>
                          <%= image_tag url_for(@review.photo_file), class:"img-fluid px-3 px-sm-4 mt-3 mb-4", style:"" %>
                       <% else %>
                          <%= image_tag "no_image_m.png", class:"img-fluid px-3 px-sm-4 mt-3 mb-4", style:"" %>
                          첨부된 사진이 없습니다.
                       <% end %>
                  </div>
               </div><!--card body-->
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">영수증</h6>
                </div>
                <div class="card-body">
                  <div class="text-center py-10">
                       <% if @review.file.attached? %>
                          <%= image_tag url_for(@review.file), class:"img-fluid px-3 px-sm-4 mt-3 mb-4", style:"" %>
                       <% else %>
                          <%= image_tag "no_image_w.png", class:"img-fluid px-3 px-sm-4 mt-3 mb-4", style:"" %>
                          첨부된 사진이 없습니다.
                       <% end %>
                  </div>
               </div><!--card body-->
              </div>
            </div>
            <!-- Pie Chart -->
            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">치료정보</h6>
                </div>
                <div class="card-body" style="padding-bottom:0px;" style="padding-top:0px;">
                  <div class="card" style="padding-bottom:0px;" style="padding-top:0px;">
                    <div class="card-body" style="padding-bottom:5px; padding-top:5px;">
                      <i class="fas fa-circle text-primary"></i> 반려동물정보 :
                      <!-- 반려동물 정보 -->
                       <% @pet.each do |pet| %>
                                 <%= pet.name %> (<%= pet.birth_date %>),  <%= pet.weight %> Kg
                       <% end %>
                    </div>
                  </div>
                </div>
                <div class="card-body" style="padding-bottom:0px;" style="padding-top:0px;">
                  <div class="card" style="padding-bottom:0px;" style="padding-top:0px;">
                    <div class="card-body" style="padding-bottom:5px; padding-top:5px;">
                      <i class="fas fa-circle text-success"></i> 받은치료 :                           
                           <select name="medc_code" id="medc_code" class="form-control" disabled="disabled"> 
                                  <% @medc_code.each do |medic| %>
                                      <option value="<%=medic.code%>" <% if @review.medic_code == medic.code %>selected = "selected"<%end%> ><%=medic.code_name%></option>
                                  <% end %>
                           </select> 
                           <select name="medic_detail" id="medic_detail" class="form-control"  disabled="disabled">
                                  <% @medic_detail.each do |medic_deta| %>
                                      <option value="<%=medic_deta.code%>" <% if @review.medic_detail == medic_deta.code %>selected = "selected"<%end%> ><%=medic_deta.code_name%></option>
                                  <% end %>
                           </select> 
                    </div>
                  </div>
                </div>
                <div class="card-body" style="padding-bottom:0px;" style="padding-top:0px;">
                  <div class="card" style="padding-bottom:0px;" style="padding-top:0px;">
                    <div class="card-body" style="padding-bottom:5px; padding-top:5px;">
                      <i class="fas fa-circle text-info"></i> 총 치료비 : <%= @review.tot_cost %>
                    </div>
                  </div>
                </div>
                <div class="card-body" style="padding-bottom:0px;" style="padding-top:0px;">
                  <div class="card" style="padding-bottom:0px;" style="padding-top:0px;">
                    <div class="card-body" style="padding-bottom:5px; padding-top:5px;">
                      <i class="fas fa-circle text-warning"></i> 치료기간 : <%= @review.period %>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card" style="padding-bottom:0px;" style="padding-top:0px;">
                    <div class="card-body" style="padding-bottom:5px; padding-top:5px;">
                      <i class="fas fa-circle text-danger"></i> 완치여부 : <%= @review.heal_yn %>
                    </div>
                  </div>
                </div>
                  
                
                  <!--<div class="progress mb-4">-->
                  <!--  <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>-->
                  <!--</div>-->
                  <!--<div class="h5">-->
                  <!--<div class="h5 mb-0 font-weight-bold text-gray-800 mb-4">-->
                    
                  <!--<h4 class="small font-weight-bold"><span class="mr-2">-->
                  <!--    <i class="fas fa-circle text-primary"></i> Direct-->
                  <!--  </span></span></h4>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--<h4 class="small font-weight-bold">가격 <span class="float-right">3 / 5</span></h4>-->
                  <!--<div class="progress mb-4">-->
                  <!--  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>-->
                  <!--</div>-->
                  <!--<h4 class="small font-weight-bold">시설<span class="float-right">4 / 5</span></h4>-->
                  <!--<div class="progress mb-4">-->
                  <!--  <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>-->
                  </div>
                  <!--<h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>-->
                  <!--<div class="progress">-->
                  <!--  <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>-->
                  <!--</div>-->
                  
                <!--</div>-->
              </div>
            </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">만족도 평균: <%= @review.avg_satis %></h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">친절도 <span class="float-right"><%= @review.satis1 %> / 5</span></h4>
                  <div class=" mb-4">
                    <!--<div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    -->
                       <div class="starRev" >
                        <input type="radio" name="satis1" value="1"><span class="starR <%if @review.satis1 >= 1 %> on <%end%>">1</span>
                        <input type="radio" name="satis1" value="2"><span class="starR <%if @review.satis1 >= 2 %> on <%end%>">2</span>
                        <input type="radio" name="satis1" value="3"><span class="starR <%if @review.satis1 >= 3 %> on <%end%>">3</span>
                        <input type="radio" name="satis1" value="4"><span class="starR <%if @review.satis1 >= 4 %> on <%end%>">4</span>
                        <input type="radio" name="satis1" value="5"><span class="starR <%if @review.satis1 >= 5 %> on <%end%>">5</span>
                       </div>
                    </div>
                  <h4 class="small font-weight-bold">진료만족도 <span class="float-right"><%= @review.satis2 %> / 5</span></h4>
                  <div class="mb-4">
                    <!--<div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>-->
                       <div class="starRev" >
                        <input type="radio" name="satis2" value="1"><span class="starR <%if @review.satis2 >= 1 %> on <%end%>">1</span>
                        <input type="radio" name="satis2" value="2"><span class="starR <%if @review.satis2 >= 2 %> on <%end%>">2</span>
                        <input type="radio" name="satis2" value="3"><span class="starR <%if @review.satis2 >= 3 %> on <%end%>">3</span>
                        <input type="radio" name="satis2" value="4"><span class="starR <%if @review.satis2 >= 4 %> on <%end%>">4</span>
                        <input type="radio" name="satis2" value="5"><span class="starR <%if @review.satis2 >= 5 %> on <%end%>">5</span>
                       </div>
                  </div>
                  <h4 class="small font-weight-bold">가격 <span class="float-right"><%= @review.satis3 %> / 5</span></h4>
                  <div class="mb-4">
                    <!--<div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>-->
                      <div class="starRev" >
                        <input type="radio" name="satis3" value="1"><span class="starR <%if @review.satis3 >= 1 %> on <%end%>">1</span>
                        <input type="radio" name="satis3" value="2"><span class="starR <%if @review.satis3 >= 2 %> on <%end%>">2</span>
                        <input type="radio" name="satis3" value="3"><span class="starR <%if @review.satis3 >= 3 %> on <%end%>">3</span>
                        <input type="radio" name="satis3" value="4"><span class="starR <%if @review.satis3 >= 4 %> on <%end%>">4</span>
                        <input type="radio" name="satis3" value="5"><span class="starR <%if @review.satis3 >= 5 %> on <%end%>">5</span>
                      </div>
                  </div>
                  <h4 class="small font-weight-bold">시설<span class="float-right"><%= @review.satis4 %> / 5</span></h4>
                  <div class="mb-4">
                    <!--<div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>-->
                      <div class="starRev" >
                        <input type="radio" name="satis4" value="1"><span class="starR <%if @review.satis4 >= 1 %> on <%end%>">1</span>
                        <input type="radio" name="satis4" value="2"><span class="starR <%if @review.satis4 >= 2 %> on <%end%>">2</span>
                        <input type="radio" name="satis4" value="3"><span class="starR <%if @review.satis4 >= 3 %> on <%end%>">3</span>
                        <input type="radio" name="satis4" value="4"><span class="starR <%if @review.satis4 >= 4 %> on <%end%>">4</span>
                        <input type="radio" name="satis4" value="5"><span class="starR <%if @review.satis4 >= 5 %> on <%end%>">5</span>
                      </div>
                  </div>
                  <!--<h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>-->
                  <!--<div class="progress">-->
                  <!--  <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">병원정보(종호님이 내용 꾸미기)</h6>
                </div>
                <div class="card-body">
                  <div>
                    <% @hospital.each do |hospital| %>
                          
                                병원명: <%= hospital.name %><br/>
                                전화번호: <%= hospital.tel_no %><br/>
                                영업시간: <%= hospital.open_time %>~<%= hospital.close_time %>
                                <%= link_to '병원 상세보기', hospitals_view_path(hospital.id) %>
                    
                    <% end %>
                  </div>
              </div>
            </div>
            </div>
            <div class="col-lg-6 mb-4">
              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">치료후기</h6>
                </div>
                <div class="card-body">
                  <%= @review.heal_review %>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-4">
              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">병원후기</h6>
                </div>
                <div class="card-body">
                 <%= @review.hospital_review %>
                 </div>
              </div>
            </div>
          <!--</div>-->

        </div>
        <!-- /.container-fluid -->

    



















<!--<p id="notice"><%= notice %></p>-->
<!--<p>-->
<!--  <strong>hospital_id:</strong>-->
<!--  <%= @review.hospital_id %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>User_id:</strong>-->
<!--  <%= @review.user_id %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>pet_id:</strong>-->
<!--  <%= @review.pet_id %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>title:</strong>-->
<!--  <%= @review.title %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>medic_code:</strong>-->
<!--  <%= @review.medic_code %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>medic_detail:</strong>-->
<!--  <%= @review.medic_detail %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>period:</strong>-->
<!--  <%= @review.period %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>heal_yn:</strong>-->
<!--  <%= @review.heal_yn %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>cost_id:</strong>-->
<!--  <%= @review.cost_id %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>tot_cost:</strong>-->
<!--  <%= @review.tot_cost %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>satis1:</strong>-->
<!--  <%= @review.satis1 %>-->
<!--</p>-->


<!--<p>-->
<!--  <strong>satis2:</strong>-->
<!--  <%= @review.satis2 %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>satis3:</strong>-->
<!--  <%= @review.satis3 %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>satis4:</strong>-->
<!--  <%= @review.satis4 %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>avg_satis:</strong>-->
<!--  <%= @review.avg_satis %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>hospital_review:</strong>-->
<!--  <%= @review.hospital_review %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>heal_review:</strong>-->
<!--  <%= @review.heal_review %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>file:</strong>-->
<!--  <%= @review.file %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>photo_file:</strong>-->
<!--  <%= @review.photo_file %>-->
<!--</p>-->


<!--<%= link_to 'Edit', edit_review_path(@review) %> |-->
<!--<%= link_to 'Back', reviews_path %>-->
