<p id="notice"><%= notice %></p>
<p>
  <strong>hospital_id:</strong>
  <%= @review.hospital_id %>
</p>

<p>
  <strong>User_id:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>pet_id:</strong>
  <%= @review.pet_id %>
</p>

<p>
  <strong>title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>medic_code:</strong>
  <%= @review.medic_code %>
</p>

<p>
  <strong>medic_detail:</strong>
  <%= @review.medic_detail %>
</p>

<p>
  <strong>period:</strong>
  <%= @review.period %>
</p>

<p>
  <strong>heal_yn:</strong>
  <%= @review.heal_yn %>
</p>

<p>
  <strong>cost_id:</strong>
  <%= @review.cost_id %>
</p>

<p>
  <strong>tot_cost:</strong>
  <%= @review.tot_cost %>
</p>

<p>
  <strong>satis1:</strong>
  <%= @review.satis1 %>
</p>


<p>
  <strong>satis2:</strong>
  <%= @review.satis2 %>
</p>

<p>
  <strong>satis3:</strong>
  <%= @review.satis3 %>
</p>

<p>
  <strong>satis4:</strong>
  <%= @review.satis4 %>
</p>

<p>
  <strong>avg_satis:</strong>
  <%= @review.avg_satis %>
</p>

<p>
  <strong>hospital_review:</strong>
  <%= @review.hospital_review %>
</p>

<p>
  <strong>heal_review:</strong>
  <%= @review.heal_review %>
</p>

<p>
  <strong>file:</strong>
  <%= @review.file %>
</p>

<p>
  <strong>photo_file:</strong>
  <%= @review.photo_file %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
